.content-container, .content-container2{
    background-color: black;
    /* position: absolute; */
    font-family: sans-serif;
    
    height: max-content;
    margin-bottom: 4.3em;
}




.content-container p , .content-container2 p  {
   margin:0 1em ;
   margin-top: 1.2em;
   font-style: italic;
   height: 12em;
   text-align: center;
   font-size: 36px;
   padding:0.4em 1em;
   font-weight: 600;
   border-bottom: 1px solid rgb(255, 166, 0);
   box-shadow:  -2px  2px 2px 2px red;
   /* outline: 2px solid red; */
   color: rgb(246, 153, 66);
   /* box-shadow: 0 0 20px 1px rgb(255, 248, 248); */
   border-radius: 10px;
}
.content-container1 p{
    height: 15em;
}

.content-container2 p{
    color: rgb(114, 246, 66);
    /* padding:2em 0; */
    height: 10em;
    border-bottom: 1px solid rgb(0, 94, 255);
   box-shadow:  -2px  2px 2px 2px rgb(255, 0, 238);
}

.content-container2 li , .content-container2 h2 ,.content-container2 ol{
    font-size: 15px;
    margin: 0;
    padding: 5px;
    /* align-items: start; */
    /* text-align: start; */
}
.content-container2 li{
    text-align: center;
    transform: translateX(-2em);
}
.content-container2 h2{
    text-align: start;

}


.content-container p:active , .content-container2 p:active{
    background-color: rgba(8, 53, 255, 0.203);
    border-bottom: 1px solid rgb(0, 255, 30);
   box-shadow:  -2px  2px 2px 2px rgb(251, 128, 128);
}

@media screen and (max-width:700px) {
    .content-container p , .content-container2 p {
        margin-top: -30px;
        font-size: 18px;
    }
    
}